* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
    height: 200vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-h {
    display: flex;
    justify-content: center;
}

.flex-center-v {
    display: flex;
    align-items: center;
}
.flex-center-hr {
    display: flex;
    justify-content: right;
}

.flex-center-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-sa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 7vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-image: linear-gradient(to right,rgb(63, 17, 142), rgb(118, 38, 158));
}

.nav-right {
    width: 55vw;
    height: 5vh;
}

.sr-container {
    height: 4vh;
}

.subreddit {
    overflow: hidden;
    padding-left: 1vw;
    height: 4vh;
    width: 35vw;
    background-color: white;
    color: black;
    margin-left: 3px;
    margin-right: 3px;
}

.set {
    border: 2px solid white;
    height: 4vh;
    width: 15vw;
}

.set:hover {
    cursor: pointer;
    color: rgb(209, 200, 221);
}

.container {
    margin-top: 7vh;
    height: 86vh;
}

#meme-img {
    max-width: 100%;
    max-height: 86vh;
}

.next-meme-btn {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 7vh;
    background-image: linear-gradient(to right,rgb(63, 17, 142), rgb(118, 38, 158));
}

.next-meme-btn:hover {
    color: rgb(209, 200, 221);
    cursor: pointer;
}